.w-btn {
  display: inline-block;
  height: 42px;
  line-height: 42px;
  padding: 0 18px;
  background-color: $blue;
  color: #fff;
  white-space: nowrap;
  text-align: center;
  font-size: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  transition: background 0.5s ease;
  &:hover {
    background-color: $blue-hover;
    color: #fff;
    @include btn-shadow();
  }
  &:active {
    opacity: 1;
  }
  &.btn-border {
    padding: 0 10px;
    text-align: center;
    line-height: 28px;
    height: 28px;
    border: 1px solid #ccc;
    background-color: transparent;
    color: #333;
    font-size: 14px;
    &:hover {
      border-color: $blue-hover;
      color: $blue-hover;
      box-shadow: none;
    }
  }
}
.btn-cancel {
  background-color: $bgray;
  &:hover {
    background-color: $bgray-hover;
  }
}

.btn-primary {
  border: 1px solid $blue;
  background-color: #fff;
  color: $blue;
  &:hover {
    color: $blue-hover;
    border-color: $blue-hover;
    opacity: 1;
  }
}
.btn-sm {
  line-height: 28px;
  height: 28px;
  min-width: 65px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.btn-radius {
  border-radius: 100px;
}
.btn-fluid {
  width: 100%;
}

.w-btn-arrow {
  position: relative;
  &:after {
    content: "\e9da";
    position: absolute;
    @include iconfont();
    top: 50%;
    right: 0;
    line-height: 1;
  }
}

.txt-btn-icon {
  position: relative;
  .iconfont {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
  &:hover,
  &:hover .iconfont {
    color: $blue !important;
  }
}

.btn-md-w {
  min-width: 125px;
}
.btn-lg-w {
  min-width: 275px;
}
